<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

<header th:fragment="header" class="p-3 bg-dark text-white">

  <script type="text/javascript"  th:src="@{/js/scripts.js}" defer></script>

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white" th:text="#{Features}">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white" th:text="#{Pricing}">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white" th:text="#{FAQs}">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white" th:text="#{About}">About</a></li>
      </ul>

      <div sec:authorize="isAuthenticated()">
        <span>Username:</span>
        <span sec:authentication="principal.username"></span>
      </div>

      <form class="row row-cols-lg-auto g-3 align-items-center me-2">
        <div class="col-12">
          <label class="visually-hidden" for="searchInput" th:value="#{Search}">Search</label>
          <div class="input-group">
            <input type="text" class="form-control" id="searchInput" th:placeholder="#{Search}">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
        </div>
      </form>

      <div th:fragment="languageSelector" class="dropdown">
        <button th:text="#{lang.options}" class="btn btn-dark dropdown-toggle me-2" type="button" id="langSelectBtn" data-bs-toggle="dropdown" aria-expanded="false" >
          EN
        </button>
        <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="langSelectBtn">
          <li><a class="dropdown-item" onclick="setLanguage('fr')" th:text="#{lang.fr}"></a></li>
          <li><a class="dropdown-item" onclick="setLanguage('en')" th:text="#{lang.en}"></a></li>
        </ul>
      </div>

      <div class="text-end" sec:authorize="isAuthenticated()">
        <a class="btn btn-outline-light me-2" th:text="#{Logout}" th:href="@{/logout}">Logout</a>
      </div>

      <div class="text-end" sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-light me-2" th:text="#{Login}" th:href="@{/login}">Login</a>
        <a type="button" class="btn btn-warning" th:text="#{Signup}" th:href="@{/registration}">Sign-up</a>
      </div>
    </div>
  </div>
</header>

<footer th:fragment="footer" class="mt-auto py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">© 2023 Ramond Company, UAB</p>
</footer>

</body>
</html>