<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      data-bs-theme="dark" lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Movie Topics</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
  <link th:href="@{/css/style.css}"  rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/fragments.html :: header"> </header>

<main>

  <div class="container mt-5 mb-1">

    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">
          <a>#</a>
        </th>
        <th scope="col">
          <a th:text="#{Title}">Title</a>
        </th>
        <th scope="col">
          <a th:text="#{Header}">Header</a>
        </th>
        <th scope="col">
          <a th:text="#{Action}">Action</a>
          <a sec:authorize="isAuthenticated()" class="btn btn-success float-end" th:href="@{/topics/add}" th:text="#{Create}">Create</a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="topic, i: *{topics}">
        <th scope="row" th:text="${topics.getPageable().getPageNumber() * topics.getPageable().getPageSize() + i.index + 1}"></th>
        <td th:text="${topic.title}"></td>
        <td th:text="${topic.header}"></td>
        <td>
          <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/topics/delete/{id}(id=${topic.id})}" th:object="${topic}" th:method="delete" class="form">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Topic" class="btn btn-danger">
          </form>
          <a class="btn btn-primary" th:href="@{/topics/{id}(id=${topic.id})}" th:text="#{View}">View</a>
        </td>
      </tr>
      </tbody>

    </table>


    <div th:if="${topics.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
      <a th:href="@{/topics(size=${topics.size}, page=${pageNumber})}"
         th:text="${pageNumber + 1}"
         th:class="${pageNumber==topics.number} ? active"></a>
    </div>
  </div>


</main>

<footer th:replace="fragments/fragments.html :: footer"> </footer>
</body>
</html>