<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Topic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}"  rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/fragments.html :: header"> </header>

<main>
    <div class="container mt-5 mb-1">
        <h3 th:text="${topic.title}"></h3>
        <section th:text="${topic.header}"></section>
        <div th:each="comment : ${topic.comments}" class="card mt-1">
            <div class="card-header d-flex justify-content-between">
                <span th:text="${comment?.createdBy?.username}"></span>
                <span th:text="${#temporals.format(comment?.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${comment.text}"></p>
                <a th:if="${comment?.createdBy?.username} == ${#authentication.name}" th:text="#{Edit}"
                   class="btn btn-primary">
                </a>
            </div>
        </div>
        <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="container">
            <h3>Add new comment</h3>
            <form th:action="@{/comments(topicId=${topic.id})}" th:object="${comment}" method="post">

                <div class="form-group">
                    <label for="commentText">Your new comment</label>
                    <textarea th:field="*{text}" class="form-control" id="commentText" rows="3"></textarea>
                </div>
                <input type="hidden" th:field="*{topic}" >
                <p>
                    <input type="reset" value="Clear" class="btn btn-info"/>
                    <input type="submit" value="Submit" class="btn btn-success"/>
                </p>
            </form>
        </div>
        <div class="container">
            <table>
                <tr th:each="var : ${#vars.getVariableNames()}">
                    <td th:text="${var}"></td>
                    <td th:text="${#vars.getVariable(var)}"></td>
                </tr>
                <!--
                    Adding these manually because they are considered special.
                    see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199
                -->
                <tr>
                    <td>param</td>
                    <td th:text="${#vars.getVariable('param')}"></td>
                </tr>
                <tr>
                    <td>session</td>
                    <td th:text="${#vars.getVariable('session')}"></td>
                </tr>
                <tr>
                    <td>application</td>
                    <td th:text="${#vars.getVariable('application')}"></td>
                </tr>
            </table>
        </div>


        <a th:href="@{/topics}">Go to topics list</a>
    </div>

</main>

<footer th:replace="fragments/fragments.html :: footer"> </footer>
</body>
</html>